.menu-container {
  display: flex;
  align-content: center;
  padding-left: 2%;
}

.menu-item-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu-item-content {
  display: none;
  position: absolute;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 2;
}

.menu-item:hover .menu-item-content {
  display: block;
}

.menu-item {
  margin-left: 20px;
}

.menu-subitem {
  display: block;
  text-align: left;
  padding: 10px 20px;
}
